PORT=5000
JWT_SECRET="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6Miwicm9sZSI6InVzZXIiLCJpYXQiOjE3ODA0NTU3MzYsImV4cCI6MTc4MTA2MDUzNn0.V-N6fK0SJGmd_b5HpdJB8JRMbd38tG_ZiRiyxKhfksc"
DATABASE_URL="mysql://username:password@localhost:3306/task_management"